@tailwind base;

@layer base {
    * {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 1.5;
    }

    a {
        text-decoration: none;
    }
}
@tailwind components;
@tailwind utilities;


.bg-gradient-base {    
    background: 
        radial-gradient(at 13.814868431089122% 36.55432836575234%, hsla(33.33333333333323, 100%, 98.23529411764707%, 1) 0%, hsla(33.33333333333323, 100%, 98.23529411764707%, 0) 100%),
        radial-gradient(at 26.757512289394448% 14.55716430928402%, hsla(201.99999999999997, 100%, 94.11764705882352%, 1) 0%, hsla(201.99999999999997, 100%, 94.11764705882352%, 0) 100%), 
        radial-gradient(at 71.81123062379334% 73.35997062171711%, hsla(201.99999999999997, 100%, 94.11764705882352%, 1) 0%, hsla(201.99999999999997, 100%, 94.11764705882352%, 0) 100%), 
        radial-gradient(at 80.67571417506147% 77.36934613667599%, hsla(33.33333333333323, 100%, 98.23529411764707%, 1) 0%, hsla(33.33333333333323, 100%, 98.23529411764707%, 0) 100%);            
}

.bg-gradient-dark {
    background: 
        radial-gradient(at 75.38236198720878% 24.880566230435086%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 12.968831796429448% 0.5436477549711771%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 21.972326706581736% 9.782016126501736%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 61.569777491065935% 60.73847134178727%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 21.707744075904035% 67.71472787863458%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 79.01398106048656% 14.80663461126377%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 21.670599049870297% 76.20628302421481%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 97.53631548001984% 89.58227432944916%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 52.50630144121473% 6.161437255132118%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 22.080814837332262% 41.6498658555438%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 51.43585002715929% 42.30354671123504%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%);            
}
